<ul class='rom-list'>
	{{#each roms as |rom|}}
		<li class='rom' {{action 'showModal' 'rom-details'}} id='{{rom.title}}'> 
        	{{rom.prettytitle}}
        	<img class='rom-cover' src='http://otomesway.com/renewal/wp-content/uploads/PlaceholderBook.png' alt=''> {{rom-coverimg rom.title rom.console}}
       	</li>
	{{/each}}
</ul>
