<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"> <span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogTitle">{{title}}</h4>
      </div>
            {{yield}}
    </div>
  </div>
</div>
