{{#modal-dialog close="closeModal" title=title}}
        {{#modal-body}}
            {{message}}
        {{/modal-body}}
        {{#modal-footer}}
            <button type="button" class="btn btn-default" {{action 'save'}}>Save</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        {{/modal-footer}}
    {{/modal-dialog}}
