# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
ember-app/dist
ember-app/tmp

# dependencies
/node_modules
/bower_components
/ember-app/node_modules
/ember-app/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
