Options All -Indexes
IndexIgnore *

#Add unknown types
AddType image/png .PNG
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-font-woff .woff
AddType application/font-woff .woff

#CORS
<IfModule mod_headers.c>
    SetEnvIf Origin ^(.*)$ ORIGIN_DOMAIN=$0
    Header add Access-Control-Allow-Origin %{ORIGIN_DOMAIN}e
    Header add Access-Control-Allow-Methods "GET, POST, PUT, DELETE, PATCH, OPTIONS"
    Header add Access-Control-Allow-Headers "Authorization, Content-Type"
    Header add Access-Control-Allow-Credentials "true"
    Header add Access-Control-Max-Age "604800"
</IfModule>

#Rewrite URL
<IfModule mod_rewrite.c>
  RewriteEngine On

  #Forward all routes to main index page
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^index
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  ErrorDocument 404 /index.php
</IfModule>