<form>
    {{input placeholder="Email" value=username}}
    <input type="submit" name="reset" class="login loginmodal-submit" value="Send Link" {{action submit username}}>
</form>

<div class="login-help">
    {{#link-to 'register' classNames="pointer"}}Register{{/link-to}} - {{#link-to 'login' classNames="pointer"}}Login{{/link-to}}
</div>

