<div class="register-login-form">
    <h2>Login</h2>
    {{#bs-form formLayout="horizontal" model=this action="submit"}}
        {{bs-form-element controlType="email" label="Email" placeholder="Email" property="email"}}
        {{bs-form-element controlType="password" label="Password" placeholder="Password" property="password"}}
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    {{/bs-form}}
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            {{link-to "Don't have an account?" 'register'}}
        </div>
    </div>
</div>