<div class="sidebar">
    {{#link-to "dashboard" classNames="no-decoration"}}
        <div class="button-wrapper">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </button>
            <span class="popup-text" style="text-decoration: none">Dashboard</span>
        </div>
    {{/link-to}}
    {{#if currentUser.isAdmin}}
        {{#link-to "users" classNames="no-decoration"}}
            <div class="button-wrapper">
                <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                    <i class="fa fa-users" aria-hidden="true"></i>
                </button>
                <span class="popup-text">Manage Users</span>
            </div>
        {{/link-to}}
    {{/if}}
    {{#link-to "usage" classNames="no-decoration"}}
        <div class="button-wrapper">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </button>
            <span class="popup-text" style="text-decoration: none">View Usage</span>
        </div>
    {{/link-to}}
</div>