<span class="input input--kaede">
    {{input value=new_password classNames="input__field input__field--kaede" id="input-0"}}
    <label class="input__label input__label--kaede" for="input-0">
    <span class="input__label-content input__label-content--kaede">New Password</span>
  </label>
</span>
<button class="btn btn-primary btn-lg" style="margin: 15px" {{action "change_password"}}>Change</button>
