<div class="register-login-wrapper">
    <div class="loginmodal-container">
        <h1>Register</h1>
        {{register-form changeset=(changeset user UserValidations) submit=(action "submit")}}
    </div>
</div>