<div class="user-container">
    {{#each model.users as |user|}}
        {{list-user user=user classNames="admin-users-wrapper"}}
    {{/each}}
    <div class="user tech adduser" id='adduserbtn' data-dismiss='modal' data-toggle='modal' data-target='adduser' {{action 'startAddingUser'}}><i class="fa fa-plus" aria-hidden="true"></i></div>
</div>

{{!-- Adding User Modal --}}
<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduserlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="adduserlabel">Add New User</h3>
            </div>
            <div class="modal-body">
                <div class="user-container add-user-container">
                    <form id='adduserform'>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="text" id="input-0" />
                  <label class="input__label input__label--kaede" for="input-0">
                    <span class="input__label-content input__label-content--kaede">Enter an SMU Email</span>
                  </label>
                </span>
                    </form>
                    <button type='button' id='addinputbtn' class='btn btn-primary' {{action 'addUser'}}><i class="fa fa-plus" aria-hidden="true"></i> </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" {{action 'saveUsers'}}>Add Users</button>
            </div>
        </div>
    </div>
</div>