{{navbar-component}}
<div class='welcome-container' id="main">
	<h1 class='welcome' style='font-size:42pt'>Welcome &nbsp; to &nbsp; the &nbsp;   Arcade </h1>
    <h2 class='welcome'>Let's get started... </h2>
    <div class='welcome-navigation'>
    	<a href="/games" class='welcome-button-wrapper'>
                <button class="btn btn-block btn-lg btn-primary dashboard-button-large welcome-button purple">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                </button>
								Activate/Deactivate Games
            </a>
            <a href="/users" class='welcome-button-wrapper'>
                <button class="btn btn-block btn-lg btn-primary dashboard-button-large welcome-button">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </button>
								Manage Users
            </a>
            <a href="/usage" class='welcome-button-wrapper'>
                <button class="btn btn-block btn-lg btn-danger dashboard-button-large welcome-button">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </button>
								View Game Activity
            </a>
    </div>
</div>
{{outlet}}
