
<body id="reload-body" >
  <h4 class="reload-warning">Please do not reload the page. The Pi is rebooting and will take 1 - 3 minutes.</h4>
  <h4 class="reload-warning">You will be redirected automatically</h4>
  <br>
  <div id="image-div">
    <img id="image-gif" src="arcade_loading.jpg">
  </div>
</body>
